:root {
    --white: #fff;
    --light-grey: #ccd1d6;
    --dark-grey: #0a0a23;
    --yellow: #f1be32;
    --golden-yellow: #feac32;
    --purple : #8338EC;
    --blue : #3A86FF;
    --background-bright : #EBEEFF;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--background-bright);
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    color: var(--purple);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 20px 0 40px 0;
  }

  p{
    margin: 5px;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
  }

  .task{
    background-color: var(--background-bright);
    padding: 5px;
    margin: 10px;
    border-radius: 8px;
  }
  
  .todo-app {
    background-color: var(--white);
    width: 300px;
    height: 350px;
    border-radius: 8px;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .btn {
    cursor: pointer;
    width: 100px;
    margin: 5px;
    padding: 2px;
    color: var(--white);
    background-color: var(--purple);
    border: 2px solid var(--purple);
    border-radius: 0.5rem;
  }
  
  .btn:hover {
    background-color: var(--blue);
    border-color: var(--blue);
  }
  
  .large-btn-inside {
    width: 80%;
    padding: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: var(--purple);
    color: var(--white);
    border: 2px solid var(--purple);
    border-radius: 0.5rem;
    align-self: center;
    justify-self: center;
  }

  .large-btn-inside:hover{
    background-color: var(--blue);
    border-color: var(--blue);
  }

  .large-btn-outside {
    width: 200px;
    margin: 30px;
    padding: 10px 25px;
    color: var(--purple);
    border: 2px solid var(--purple);
    border-radius: 0.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
  }

  .large-btn-outside::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--purple);
    border-radius: inherit;
    translate: 6px 6px;
    transition: 0.25s;
    z-index: -1;
  }

  .large-btn-outside:hover::after{
    translate: 0;
  }

  .large-btn-outside:hover{
    background-color: var(--purple);
    color: #f9fafb;
  }

  
  .close-task-form-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .close-icon {
    width: 20px;
    height: 20px;
  }
  
  .task-form {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    border-radius: 5px;
    padding: 25px;
    width: 300px;
    height: 350px;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
  
  .task-form-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .task-form-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .task-form-footer {
    display: flex;
    justify-content: center;
  }
  
  .task-form-label,
  #title-input,
  #date-input,
  #description-input {
    display: block;
  }
  
  .task-form-label {
    margin-bottom: 5px;
  }

label{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--light-grey);
}
  
input, textarea{
  border: 1px solid var(--light-grey);
  border-radius: 0.3rem;
  width: 100%;
  margin-bottom: 10px;
  padding: 2px;
  color: var(--dark-grey);
}

  #confirm-close-dialog {
    top: 25%;
    width: 450px;
    padding: 10px;
    margin: 10px auto;
    border: 2px solid var(--purple);
    border-radius: 8px;
    position: relative;
    transition: all 0.3s;
  }
  
  .confirm-close-dialog-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .discard-message-text {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  #tasks-container {
    height: 100%;
    overflow-y: auto;
  }
  
  
  .hidden {
    display: none;
  }
  
  @media (min-width: 576px) {

    .todo-app,
    .task-form {
      width: 400px;
      height: 450px;
    }
  
    .task-form-label {
      font-size: 1.2rem;
    }
  
    #title-input,
    #date-input {
      height: 2rem;
    }
  
    #title-input,
    #date-input,
    #description-input {
      padding: 5px;
      margin-bottom: 20px;
    }

    
  }